@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-marker: "Permanent Marker", cursive;
  
  --color-neon: #ffea00;
  --color-brand: #ffea00;
  --color-brand-dark: #ccbb00;
}

@layer base {
  body {
    @apply font-sans bg-black text-zinc-300 antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
